extends mdui

block content
    h2 项目名称
    p 课程设计 - 超市会员管理系统
    hr
    h2 作者信息
    h3 姓名
    p 李鹏飞
    h3 班级
    p 1831
    h3 专业
    p 计算机科学与技术
    h3 学院
    p 刑事法学院
    h3 个人网站
    a.aboutLink(href="https://jas0n2k.github.io" target="_blank")
        u 杰森的小站
    hr
    h2 指导老师
    p 刘琴
    hr
    h2 开发环境
    h3 技术栈
    p Node.js, Express, Pug, SQLite
    h3 UI
    a.aboutLink(href="https://mdui.org" target="_blank")
        u MDUI 1.0.1
    h3 其他
    a.aboutLink(href="https://jquery.com/" target="_blank")
        u jQuery
    h3 环境
    p Windows 10, Ubuntu 20.04 LTS
    h3 软件使用
    p WebStorm, Chrome 89, Word 2021
    hr
    h3
        strong 2021年3月21日，于
            a.aboutLink(href="https://www.ecupl.edu.cn" target="_blank")
                u 华东政法大学

