doctype html
html(lang="zh-cmn-Hans")
    head
        title #{title + postfix}
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
        link(rel="icon" href="/statics/favicon.png" type="image/png")
        link(rel="stylesheet" href="/mdui/css/mdui.min.css")
        script(src="/mdui/js/mdui.min.js")
        script(src="/jquery/jquery.js")
        link(rel="stylesheet" href="/statics/stylesheets/custom.css")
        link(rel="stylesheet" href="/statics/stylesheets/cashier.css")
    body.mdui-theme-primary-cyan.mdui-theme-accent-cyan.mdui-appbar-with-toolbar
        .mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn.mdui-btn-icon.mdui-ripple#homeBtn(onclick="window.location.href = '/'")
                    i.mdui-icon.material-icons home
                a.mdui-headline.mdui-typo-title #{title}
        .mdui-progress#progressBar(style="display:none")
            .mdui-progress-indeterminate
        .mdui-container-fluid
            #wrapper.mdui-row
                #cashierDiv.mdui-col-xs-12.mdui-col-sm-6.mdui-col-md-4
                    #cashierAdd.mdui-card.mdui-m-y-1
                        #cashierForm.mdui-card-media.mdui-p-a-1
                            form#addForm
                            .mdui-textfield
                                i.mdui-icon.material-icons &#xe8cc
                                lable.mdui-textfield-label 商品编号 (Tab)
                                input.mdui-textfield-input#GID(type="number" name="GID" form="addForm" maxlength=20 autofocus)
                            .quan
                                .mdui-textfield
                                    i.mdui-icon.material-icons &#xe03c
                                    lable.mdui-textfield-label 数量 (Q)
                                    input.mdui-textfield-input#quantity(type="number" name="quantity" form="addForm" min=1 max=9999 value=1)
                                .btnEmbedded
                                    button.mdui-btn.mdui-ripple.mdui-btn-raised#plusOne +1
                                    button.mdui-btn.mdui-ripple.mdui-btn-raised#plusTen +10
                            .mdui-card-actions
                                button.mdui-btn.mdui-ripple#addBtn 添加 (A)
                                button.mdui-btn.mdui-ripple#resetBtn 重置 (R)
                                button.mdui-btn.mdui-ripple#removeGood 删除商品 (D)
                    #cashierSubmit.mdui-card.mdui-m-y-1
                        .mdui-card-actions.mdui-p-a-1
                            .mdui-textfield
                                i.mdui-icon.material-icons &#xe8f7;
                                lable.mdui-textfield-label 会员卡号 (E)
                                input.mdui-textfield-input#member(type="text" name="GID" pattern="^[0-9]*$" placeholder="若无留空" maxlength=10)
                            button.mdui-btn.mdui-ripple#checkoutBtn 结账(Enter)
                #tableContainer.mdui-m-y-1.mdui-col-xs-12.mdui-col-sm-6.mdui-col-md-8
                    table.mdui-table.mdui-table-hoverable
                        thead
                            tr
                                th 商品编号
                                th 商品名
                                th 单价
                                th 数量
                                th 总价
                        tbody#goodTable
                        tfoot#goodTableFoot(style="display:none")
                            tr
                                th#totalItem
                                th
                                th
                                th#quanSum
                                th#moneySum
                    .spinnerContainer#progressCircle(style="display:none")
                        .mdui-spinner.mdui-spinner-colorful
    script(src="/statics/javascript/cashier.js")