doctype html
html(lang="zh-cmn-Hans")
    head
        block title
        meta(charset="utf8")
        link(rel="stylesheet" href="/mdui/css/mdui.min.css")

    body.mdui-appbar-with-toolbar.mdui-theme-primary-cyan
        .mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn.mdui-btn-icon.mdui-ripple
                    i.mdui-icon.material-icons#drawer menu
                a.mdui-headline.mdui-typo-title= title
        .mdui-drawer
            ul.mdui-list
                li.mdui-list-item.mdui-ripple
                    i.mdui-list-item-icon.mdui-icon.material-icons

        .mdui-container
            block content
script(src="/mdui/js/mdui.min.js")
