extends mdui

append head
block content
    #loginBox.mdui-card.mdui-m-y-5
        form#loginForm.mdui-card-media.mdui-p-a-2
            .mdui-textfield
                i.mdui-icon.material-icons account_circle
                lable.mdui-textfield-label 用户名
                input.mdui-textfield-input(type="text" form="loginForm" name="Username" pattern="^[A-Za-z0-9]*$" required)
            .mdui-textfield
                i.mdui-icon.material-icons lock
                lable.mdui-textfield-label 密码
                input.mdui-textfield-input(type="password" form="loginForm" name="Password" pattern="[A-Za-z0-9]*$" required)

        .mdui-card-actions
            button.mdui-btn.mdui-ripple#loginBtn 登录
            button.mdui-btn.mdui-ripple#AdminLoginBtn 管理员登录
            button.mdui-btn.mdui-ripple#register(onclick="window.location.href='/register'") 注册
append end
    script(src="/statics/javascript/loginBox.js")