doctype html
html(lang="zh-cmn-Hans")
    head
        block head
        title #{title + postfix}
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
        link(rel="icon" href="/statics/favicon.png" type="image/png")
        link(rel="stylesheet" href="/mdui/css/mdui.min.css")
        script(src="/mdui/js/mdui.min.js")
        script(src="/jquery/jquery.js")
        link(rel="stylesheet" href="/statics/stylesheets/custom.css")

    body.mdui-appbar-with-toolbar.mdui-theme-primary-cyan.mdui-drawer-body-left.mdui-theme-accent-cyan
        .mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn.mdui-btn-icon.mdui-ripple#drawerBtn
                    i.mdui-icon.material-icons menu
                a.mdui-headline.mdui-typo-title #{title}
        .mdui-drawer#drawerContainer
            block drawer
                ul.mdui-list#drawer
                    li.mdui-list-item.mdui-ripple#home
                        i.mdui-list-item-icon.mdui-icon.material-icons &#xe88a
                        .mdui-list-item-content 首页
                    li.mdui-list-item.mdui-ripple#cashier
                        i.mdui-list-item-icon.mdui-icon.material-icons &#xe227
                        .mdui-list-item-content 收银
                    li.mdui-divider
                    if isLogin
                        li.mdui-list-item.mdui-ripple#record
                            i.mdui-list-item-icon.mdui-icon.material-icons &#xe890
                            .mdui-list-item-content 消费记录
                        li.mdui-list-item.mdui-ripple#redeem
                            i.mdui-list-item-icon.mdui-icon.material-icons &#xe7fe
                            .mdui-list-item-content 积分兑换
                    else if isAdminLogin
                        if adminLevel > 1
                            li.mdui-list-item.mdui-ripple#dashboard
                                i.mdui-list-item-icon.mdui-icon.material-icons &#xe871
                                .mdui-list-item-content Dashboard

                    if isLogin || isAdminLogin
                        li.mdui-list-item.mdui-ripple#logout
                            i.mdui-list-item-icon.mdui-icon.material-icons &#xe7fe
                            .mdui-list-item-content 退出登录
                    else
                        li.mdui-list-item.mdui-ripple#login
                            i.mdui-list-item-icon.mdui-icon.material-icons &#xe890
                            .mdui-list-item-content 登录
                        li.mdui-list-item.mdui-ripple#register
                            i.mdui-list-item-icon.mdui-icon.material-icons &#xe7fe
                            .mdui-list-item-content 注册
                    li.mdui-divider
                    li.mdui-list-item.mdui-ripple#about
                        i.mdui-list-item-icon.mdui-icon.material-icons &#xe88e
                        .mdui-list-item-content 关于
                    li.mdui-divider
                .copyright
                    p © 2021 Jas0n2K.
                    #ECUPL East China University of Political Science and Laws
        .mdui-container
            block content

    script(src="/statics/javascript/drawer.js")
    block end