/*noinspection ALL*/
.mdui-drawer {
    display: flex;
    flex-direction: column;
}

.mdui-list {
    flex: 1;
}

/*noinspection CssUnusedSymbol*/
.copyright {
    color: rgba(0, 0, 0, .38);
    margin: 10px 0;
    padding: 0 10px 10px;
    text-align: left;
    overflow: hidden;
}

.copyright > p {
    font-size: 14px;
    margin: 5px 0;
}

#ECUPL {
    width: 100%;
    white-space: break-spaces;
    overflow-wrap: break-word;
    height: auto;
    word-wrap: break-word;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.aboutLink {
    text-decoration: none;
    color: black
}

.mdui-container {
    margin-top: 15px;
}

.enterArea {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.enterArea > .mdui-textfield {
    width: 60%;
    margin-right: 10px;
}

.enterArea > button {
    margin-left: 10px !important;
}

.typeTableArea {
    margin: 10px auto;
    width: 40vw;
}

.typeTableArea th {
    text-align: center !important;
}

.noData {
    text-align: center;
    margin: 10px auto;
    color: gray;
}

.bottomLoadingIndicator{
    margin: 10px auto;
    text-align: center;
}