.mdui-drawer {
    display: flex;
    flex-direction: column;
}

.mdui-list {
    flex: 1;
}

.copyright {
    color: rgba(0, 0, 0, .38);
    margin: 10px 0;
    padding: 0 10px;
    text-align: left;
    overflow: hidden;
}

.copyright > p {
    font-size: 14px;
    margin: 5px 0;
}

#ECUPL {
    width: 100%;
    white-space: break-spaces;
    overflow-wrap: break-word;
    height: auto;
    word-wrap: break-word;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.aboutLink {
    text-decoration: none;
    color: black
}

.fullPageWrapper {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}

@media screen and (min-width: 600px) {
    .fullPageWrapper {
        height: calc(100vh - 64px);
    }
}

.enterArea {
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.enterArea > .mdui-textfield {
    width: 60%;
    margin-right: 10px;
}

.enterArea > button {
    margin-left: 10px !important;
}

.tableArea {
    margin-bottom: 8px;
    overflow: scroll;
    min-width: 80%;
    flex-grow: 1;
    table-layout: fixed;
}

.tableArea::-webkit-scrollbar {
    width: 0 !important
}

.tableArea table {
    width: 100%;
    border-spacing: 0;
    word-break: keep-all;
}

.tableArea th, .tableArea td {
    text-align: center !important;
}

.tableArea thead th, .tableArea tfoot th {
    position: sticky;
    z-index: 2;
}

.tableArea thead th {
    background: #E2E2E2;
    top: 0;
}

.tableArea tfoot th {
    background: white;
    position: sticky;
    border-top: 1px inset rgba(169, 169, 169, 0.6);
    bottom: 0;
}

.tableArea tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.noData {
    text-align: center;
    margin: 10px auto;
    color: gray;
}

.bottomLoadingIndicator, .bottomLoadingRetry, .bottomIndicator {
    margin: 10px auto;
    text-align: center;
}

.bottomIndicator {
    display: flex;
    flex-flow: column nowrap;
}

.row-of-all {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.row-of-all > * {
    font-weight: 500;
    margin: 0 5px;
}

.pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.pagination div:first-child {
    margin-right: 20px;
}

.pagination div:last-child {
    margin-left: 20px;
}

.pagination input[type=number] {
    width: 40px;
    border: gray solid 1px;
    border-radius: 5px;
    -moz-appearance: textfield;
    padding: 4px 8px;
    margin: 0 2px;
}

.pagination input::-webkit-outer-spin-button,
.pagination input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pagination span{
    font-size: 0.9rem;
}

.pagination .row-per-page > select {
    margin: 0 5px;
}

.delDialog .mdui-dialog-actions a:last-child {
    color: red;
}